$bgcolor: #F8F8F8;
$artcolor: #FFF;
$blue: #7ABBE5;
$linkcolor: #7B97BF;

/* globals */
body {
  font-family: 'Cambay', sans-serif;
  background-color: $bgcolor;
  padding-top: 6.5rem;
}
.fixed-top {
  margin-top:28px;
}
a {
  color: $linkcolor;
}
a:hover {
  text-decoration: underline;
}
.fa-facebook {
  color: #3B5999;
}
.fa-twitter {
  color: #55ACEE;
}
.fa-linkedin {
  color: #0077B5;
}
.fa-youtube-play {
  color: #CD201F;
}

/* Navbar */
.navbar {
  i {
    padding: 0 5px;
    color: 577992;
  }
}

/* Authors section on front page - home */
.authors-addpost {
  .authors, .addpost {
    background-color: #FFF;
  }
  .authors {
    font-size: 12px;
    img {
      padding: 10px;
    }
  }
  .addpost {
    background-color: #ECEDF1;
    color: #444444;
  }
}
.profile-info {
  position: absolute;
  right: 20px;
  top: -10px;
  font-size: 25px;
  cursor:pointer;
}

.btn-circle {
  width: 60px;
  height: 60px;
  background-color: #F87151;
  border-radius: 50%;
  border: none;
  margin: 20px 30px;
  box-shadow: 1px 2px #CCC;
}

/* single article */
article {
  font-size: 14px;
  margin-bottom: 20px;
  [class*="col-"] > div  {
    background-color: #FFFFFF;
  }
  .author {
    font-size:12px;
    a {
      color: #7d94bd;
    }
    span {
      color: #7e93a4;
      display: block;
    }
  }
  .time {
    text-align: center;
    time {
      font-size: 11px;
    }
  }
  .tags {
    text-align: center;
    a {
      background-color: $blue;
      font-size: 12px;
      color: #FFF;
      padding: 2px 4px;
    }
    a:before {
      content: "#";
    }
  }

  .btn {
    padding: 3px 7px;
  }
  .comments {
    >div:not(:first-child) {
      border-top: solid 1px #eaeff2;
      padding: 12px 0;
    }
    font-size: 12px;
    i {
      margin-left: 10px;
    }
    input {
      padding: 8px;
    }
    .input-group-addon{
        background: white !important;
    }
    .form-control{
    	border-right:0;
    	box-shadow:0 0 0;
    	border-color:#ccc;
    }
    button{
        border:0;
        background:transparent;
    }
  }
  .similar-posts {
    border-top: solid 15px $bgcolor;
    >div {
      border-top: solid 1px #eaeff2;
      padding: 12px 0;
      img {
        max-width: 80px;
        height: auto;
      }
      .pl-1 {
        line-height: 1.3em;
      }
    }
  }
  /* single article icons color */
  .fa {
    margin-left: 6px;
  }
  .fa-thumbs-o-down {
    color: #EEA226;
  }
}

/* card design */
.card {
  border: none;
  border-radius: 0;
  a {
    color: #FFF;
  }
  .bookmark-star {
    position: absolute;
    right: 10px;
    top: 10px;
    i {
      background-color: rgba(#FFF, .7);
      padding: 5px;
      color: red;
    }
  }
  .card-img {
    border-radius: 0;
    width:100%;
    height:auto;
  }
}
.card:after {
  display: block;
  background-image: linear-gradient(to bottom, transparent 10%, #444 90%);
  margin-top: -200px;
  height: 200px;
  width: 100%;
  content: '';
}

.white {
  color:#FFF;
  .fa {
    color:#FFF;
    margin-left:  10px;
  }
}


/* sidebar section */
nav {
  background-color: #FFFFFF;
  padding: 5px;
  .nav {
    li {
      list-style: none;
      width: 100%;
      border-bottom: solid 1px gray;
      text-align: right;
      a {
        float: left;
      }
    }
  }
}








/*
.index-single {
  background-color: #FFFFFF;
  margin-bottom: 20px;
  .col-sm-3 {
    padding: 10px;
    p {
      margin: 0;
      font-size: 12px;
    }
  }
  img {
    width: 100%;
  }
  section {
    margin: 10px 0;
  }
  footer {
    font-size: 12px;
    p {
      margin: 0;
    }
  }
}
*/


#sidebar {
  /*min-width: 240px;*/
  .title {
    background: #4E7AC7;
    color: #FFFFFF;
    padding: 3px 8px;
  }
}
.content {
  background-color: #FFFFFF;
}


.mobile-mockup {
  background: url('../../images/iphone.png');
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
  padding-top: 104px;
}
.mobile-preview {
  background-color: #FFF;
  width: 356px;
  height:596px;
  overflow-y:auto;
  overflow-x:auto;
  margin: auto;
  .card {
    background-repeat: no-repeat !important;
    background-size: cover !important;
  }
  .container {
    margin-top: 0;
    padding: 0;
  }
  section {
    padding: 15px;
  }
}
.desktop-preview {
  .card {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    min-height: 300px;
  }
}
.card-block {
  display: flex;
  h3 {
    align-self: flex-end;
  }
}


section {
  margin: 15px 0;
  a {
    position: relative;
    z-index: 1050;
  }
  h2 {
    margin: 3em 0 1em;
    font-weight: bold;
  }
}

/* pagination */
.page-numbers {
	display: inline-block;
	padding: 5px 10px;
	margin: 0 2px 0 0;
	border: 1px solid #eee;
	line-height: 1;
	text-decoration: none;
	border-radius: 2px;
	font-weight: 600;
}
.page-numbers.current,
a.page-numbers:hover {
	background: #f9f9f9;
}
